// https://fonts.google.com/icons?icon.set=Material+Icons

@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/material/material-icons-outlined.woff2') format('woff2');
	font-display: swap;
}

.icon {
	font-family: 'Material Icons Outlined', sans-serif;
}