$color-black: #000000;
$color-white: #fff;
$color-red: #ff2d2c;
$color-yellow: #ffd100;
$color-yellow-dark: #c19f00;
$color-purple: #9b78ff;

$color-bg-dark: #070707;
$color-bg-light: #191919;
$color-border-dark: $color-black;
$color-border-light: #373737;

$color-npc: $color-yellow;